@media (min-width: 1025px) {
  .Community .communityOne {
    padding: 14.25rem 0 10rem 0;
    text-align: center;
    background: #0f9fc7;
    color: #fff;
  }

  .Community .communityTwo {
    padding: 6rem 0 10rem 0;
    color: #000;
  }

  .Community .communityThree {
    padding: 6rem 0 10rem 0;
    background: #0f9fc7;
    color: #fff;
  }

  .communityTwo h1 {
    font-family: "Ubuntu", sans-serif;
    font-size: 25px;
    margin: 0 0 30px 100px;
    text-align: center;
  }

  .communityThree h1 {
    font-family: "Ubuntu", sans-serif;
    text-align: center;
    font-size: 25px;
    margin: 0 100px 30px 0;
  }

  .Community .containerOne {
    display: flex;
    justify-content: space-around;
  }

  .communityOne a {
    color: #fff;
  }

  .communityOne a:hover {
    text-decoration: underline;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .Community .communityOne {
    padding: 12rem 0 8rem 0;
    text-align: center;
    background: #0f9fc7;
    color: #fff;
  }

  .Community .communityTwo {
    padding: 5rem 50px 5rem 50px;
    color: #000;
  }

  .Community .communityThree {
    padding: 5rem 50px 5rem 50px;
    background: #0f9fc7;
    color: #fff;
  }

  .communityTwo h1 {
    font-family: "Ubuntu", sans-serif;
    font-size: 25px;
    text-align: center;
    margin-bottom: 30px;
  }

  .communityThree h1 {
    font-family: "Ubuntu", sans-serif;
    text-align: center;
    font-size: 25px;
    margin-bottom: 30px;
  }

  .Community .containerOne {
    display: flex;
    justify-content: space-around;
  }

  .communityOne a {
    color: #fff;
  }

  .communityOne a:hover {
    text-decoration: underline;
  }

  .communityOne li {
    line-height: 50px;
  }
}

@media (max-width: 767px) {
  .Community .communityOne {
    padding: 9rem 0 4rem 0;
    text-align: center;
    background: #0f9fc7;
    color: #fff;
  }

  .Community .communityTwo {
    padding: 3rem 50px 3rem 50px;
    color: #000;
  }

  .Community .communityThree {
    padding: 3rem 50px 3rem 50px;
    background: #0f9fc7;
    color: #fff;
  }

  .communityTwo h1,
  .communityThree h1 {
    font-family: "Ubuntu", sans-serif;
    font-size: 20px;
    text-align: center;
    margin-bottom: 15px;
  }

  .Community .containerOne {
    display: flex;
    flex-direction: column;
    line-height: 35px;
    text-align: center;
  }

  .communityOne a {
    color: #fff;
  }

  .communityOne a:hover {
    text-decoration: underline;
  }

  .communityOne li {
    line-height: 50px;
  }
}
