.Community .communityOne {
  padding: 14.25rem 150px 10rem 250px;
  text-align: center;
  background: #0f9fc7;

  color: #fff;
}

.Community .communityTwo {
  padding: 14.25rem 150px 10rem 250px;

  color: #000;
}

.Community .communityThree {
  padding: 14.25rem 150px 10rem 250px;
  background: #0f9fc7;

  color: #fff;
}

.communityThree h1 {
  text-align: right;
}
