.homeOne {
  padding: 15.25rem 150px 11rem 250px;
  text-align: right;
  background: #0f9fc7;
  line-height: 70px;
}

.homeTwo {
  background: #a1dcf7;
  padding: 30px;
  text-align: right;
}

.homeThree {
  background: #afa5e8;
  padding: 30px;
}

.homeFour {
  padding: 23rem 150px 14rem 150px;
  background: #0f9fc7;
  color: #282d33;
}

.Home h1 {
  color: #fff;
  font-family: "Ubuntu", sans-serif;
  font-size: 34px;
}

.homeTwo,
.homeThree {
  float: left;
  width: 50%;
  padding: 130px 150px;
  color: #fff;
}

.newsOne,
.newsTwo,
.newsThree {
  margin: 30px 0;
  padding: 40px 30px;
  background: #fff;
  line-height: 25px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
}

.Home p {
  font-family: "Arimo", sans-serif;
}

.Home h2 {
  font-family: "Ubuntu", sans-serif;
  margin-bottom: 15px;
  text-decoration: underline;
}

.Home a {
  text-decoration: none;
  padding: 35px 25px;
}

.Home footer {
  background: #2885c0;
  padding: 40px 0;
}
.Home .container {
  display: flex;
  justify-content: space-around;
}

.boxOne,
.boxTwo,
.boxThree {
  color: #fff;
}

.boxThree a {
  color: #fff;
}

.Home ul {
  list-style: none;
}

.Home li {
  line-height: 25px;
  font-size: 15px;
}

.Home .button {
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
}

.Home .button:hover {
  background: #d3d3d3;
  transition: 250ms all ease-in-out;
}
