.Events .eventsOne {
  padding: 14.25rem 150px 10rem 250px;
  text-align: right;
  background: #0f9fc7;
  
}

.Events .eventsTwo {
  padding: 14.25rem 150px 10rem 250px;
  text-align: right;
  
}

.Events .eventsThree {
  padding: 14.25rem 150px 10rem 250px;
  text-align: right;
  background: #0f9fc7;
  
}
